.bg {
  background-image: linear-gradient(
    to left top,
    #e7e5d5,
    #e6e3cd,
    #e5e1c5,
    #e4dfbc,
    #e3ddb4
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
