.home_bg-img{
    background: url("../resources/home_img.jpg"),rgba(0, 0, 0, 0.588);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.postion-top-bottom{
    top: 45%;
    left:0%;
}