@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
*{
    font-family: 'Ropa Sans';
    margin: 0px;
    padding: 0px;
   
    
}
body{
    background-image: linear-gradient(to left top, #e7e5d5, #e6e3cd, #e5e1c5, #e4dfbc, #e3ddb4);
    background-repeat: no-repeat;
}



